$iconMenuMobile-color: black;
$iconMenuMobile-velocityTransition: 0.4s;

.icon-menu-mobile {
  cursor: pointer;

  div {
    width: 30px;
    height: 5px;
    background-color: $iconMenuMobile-color;
    margin: 4px 0;
    transition: $iconMenuMobile-velocityTransition;
  }

  &--opened {

    div {

      &:first-child {
        transform: rotate(-45deg) translate(-6px, 6.5px);
      }

      &:nth-child(2) {
        transform: scale(1.3);
        opacity: 0;
      }

      &:last-child {
        transform: rotate(45deg) translate(-6px, -6.5px);
      }
    }
    // End div
  }
  // End &--opened
}
// End .icon-menu-mobile
