.icon-menu-mobile {
  cursor: pointer; }
  .icon-menu-mobile div {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s; }
  .icon-menu-mobile--opened div:first-child {
    transform: rotate(-45deg) translate(-6px, 6.5px); }
  .icon-menu-mobile--opened div:nth-child(2) {
    transform: scale(1.3);
    opacity: 0; }
  .icon-menu-mobile--opened div:last-child {
    transform: rotate(45deg) translate(-6px, -6.5px); }
