body {
  margin: 0; }

.responsive-navbar {
  width: 100%;
  background: #DDD;
  font-family: 'Roboto', sans-serif; }
  .responsive-navbar__container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto; }
  .responsive-navbar__logo {
    width: 200px;
    height: 50px;
    background: #CCC; }
  .responsive-navbar__items {
    display: none;
    flex-direction: column;
    flex-flow: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    background: #EEE; }
    .responsive-navbar__items--hide {
      display: flex;
      opacity: 0;
      animation: menuExit ease 0.5s; }
    .responsive-navbar__items--show {
      display: flex;
      animation: menuEntry ease 0.5s; }
  .responsive-navbar__item {
    width: 100%;
    flex: 100%; }
    .responsive-navbar__item a {
      display: block;
      padding: 20px;
      text-align: center;
      text-decoration: none; }
      .responsive-navbar__item a:hover {
        background: rgba(0, 0, 0, 0.2); }
  @media (min-width: 992px) {
    .responsive-navbar .icon-menu-mobile {
      display: none; }
    .responsive-navbar__items {
      width: auto;
      display: flex;
      flex-direction: row;
      height: auto;
      position: inherit;
      animation: none;
      background: transparent; }
    .responsive-navbar__item {
      width: auto;
      flex: auto; }
      .responsive-navbar__item a {
        width: auto; } }

@keyframes menuEntry {
  from {
    top: 150px;
    opacity: 0; } }

@keyframes menuExit {
  from {
    top: 50px;
    opacity: 1; }
  to {
    top: 150px;
    opacity: 0; } }

/*
////// Grid System //////
 */
@media (max-width: 550px) {
  .container {
    padding: 0 15px; } }

@media (min-width: 768px) {
  .container {
    width: 720px; } }

@media (min-width: 992px) {
  .container {
    width: 960px; } }

@media (min-width: 1200px) {
  .container {
    width: 1140px; } }
