body {
  margin:0;
}

.responsive-navbar {
  width:100%;
  background:#DDD;
  font-family: 'Roboto', sans-serif;

  &__container {
    display:flex;
    flex-direction:row;
    flex-flow:wrap;
    align-items:center;
    justify-content:space-between;
    margin-left:auto;
    margin-right:auto;
  }

  &__logo {
    width:200px;
    height:50px;
    background:#CCC;
  }

  &__items {
    display:none;
    flex-direction:column;
    flex-flow:wrap;
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
    height:0;
    position:absolute;
    top:50px;
    left:0;
    background:#EEE;
    animation:menuExit ease 0.5s;

    &--show {
      height:300px;
      overflow:hidden;
      display:flex;
      animation:menuEntry ease 0.5s;
    }
  }

  &__item {
    width:100%;
    flex:100%;

    a {
      display:block;
      padding:20px;
      text-align:center;
      text-decoration:none;

      &:hover {
        background:rgba(0,0,0,0.2);
      }
    }
  }

  @media (min-width:768px) {

  }
  // end min-width: 768px (md)

  @media (min-width:992px) {
    .icon-menu-mobile {
      display:none;
    }

    &__items {
      width:auto;
      display:flex;
      flex-direction:row;
      height:auto;
      position:inherit;
      animation:none;
      background:transparent;
    }

    &__item {
      width:auto;
      flex:auto;

      a {
        width:auto;
      }
    }
  }
  // end min-width: 992px (lg)
}

@keyframes menuEntry {
  from {
    top:150px;
    opacity:0;
  }
}

@keyframes menuExit {
  from {
    top:50px;
    opacity:1;
  } to {
    top:150px;
    opacity:0;
  }
}


/*
////// Grid System //////
 */

@media (max-width:550px) {
  .container {
    padding:0 15px;
  }
}
// end min-width: 550px (xs)

@media (min-width:768px) {
  .container {
    width:720px;
  }
}
// end min-width: 768px (md)

@media (min-width:992px) {
  .container {
    width:960px;
  }
}
// end min-width: 992px (lg)

@media (min-width: 1200px) {
  .container {
    width:1140px;
  }
}
// end min-width: 1200px (xl)
